@charset "utf-8";
/* CSS Document */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#logo {
	position: absolute;
  	top: 5px;
  	left: 10px;
  	width: 170px;
}
#header {
  	background-image: linear-gradient(to right, #067ccc, #00111f);
  	color: #f6a716;
	padding-left: 175px;
	padding-top: 50px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 2px 2px black;
}
#header_2 {
  	background-image: linear-gradient(to right, #067ccc, #00111f);
  	color: white;
	padding-left: 175px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-shadow: 1px 1px black;
}

/* navigation */
.topnav {
  	background-color: #333;
  	overflow: hidden;
}
.topnav a {
  	color: #f2f2f2;
  	display: block;
  	float: left;
  	padding: 14px 16px;
  	text-align: center;
  	font-size: 17px;
  	text-decoration: none;
}
.topnav a:hover {
  	color: lightblue;
}
.topnav a.active {
	font-weight: bolder;
}
.topnav .icon {
  	display: none;
}
/* nagivation */

h3, p {
	color: black;
  	text-align: center; 
}
h3 {
	text-align: center;
	width: 90%;
	margin: 10px auto 30px;
	padding: 20px;
	font-size: 25px;
	border-radius: 5px;
}

.img_text {
  	width: 700px;
  	position: absolute;
  	margin-top: 50%;
  	margin-left: 3%;
  	padding: 15px;
  	color: white;
  	font-size: 20px;
  	background-color: rgba(0,12,31,0.9);
  	border-radius: 12px;
}
.img_text_2 {
  	width: 700px;
  	position: absolute;
  	margin-top: 58%;
  	margin-left: 3%;
  	padding: 15px;
  	color: black;
  	font-size: 20px;
  	background-color: rgba(246,167,22,0.9);
  	border-radius: 12px;
}

/* slideshow */
.mySlides {
  	display: none;
}
.dot {
  	background-color: #bbb;
  	display: inline-block;
  	position: relative;
  	top: -65px;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	border-radius: 50%;
  	transition: background-color 0.6s ease;
  	cursor: pointer;
}
.dot:hover {
	cursor: auto;
}
.active_dot {
  	background-color: #717171;
}
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1s;
  	animation-name: fade;
  	animation-duration: 1s;
}
@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
/* slideshow */

.notice_text {
	position: relative;
	bottom: 45px;
	width: 80%;
	margin: 20px auto;
	background-color: #92c2d8;
	padding: 10px;
	border-radius: 10px;
}
.testimonial_text {
	position: relative;
	bottom: 40px;
	width: 800px;
	margin: 10px auto 0px;
	background-color: #00111f;
	color: white;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	border-radius: 10px;
}
.testimonial_text_2 {
	position: relative;
	bottom: 58px;
	left: 100px;
	width: 200px;
	margin: 10px auto;
	background-color: #f6a716;
	color: black;
	font-size: 12px;
	font-style: italic;
	padding: 10px 5px 3px;
	border-radius: 5px;
	z-index: -1;
}

/* "Schedule your visit" button on homepage */
button {
	width: 80%;
	position: relative;
	bottom: 10px;
  	background-color: #f6a716;
  	color: black;
	display: block;
	margin: 10px auto;
  	padding: 15px 32px;
  	border: 2px solid black;
  	border-radius: 10px;  
  	text-align: center;
  	font-size: 18px;
  	font-weight: bold;
	text-decoration: none;
}
button:hover {
  	color: white;
}
button:active {
  	background-color: black;
}
/* "Schedule your visit" button on homepage */

/* form */
.first_label {
  	display: inline-block;
	padding: 0px 0px 0px 0px;
}
input[type=text], input[type=number], input[type=date], select, textarea{
  	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	resize: vertical;
}
label {
  	display: inline-block;
  	padding: 12px 12px 12px 0;
}
input[type=submit] {
  	background-color: #4CAF50;
  	color: white;
  	width: 100%;
	padding: 12px 20px;
 	border: none;
	border-radius: 4px;
 	cursor: pointer;
}
.container {
  	background-color: #92c2d8;
  	display: block;
	width: 750px;
	margin: 0px auto;
  	padding: 10px 20px;
 	border-radius: 15px;
 	font-size: 18px;
}
.col_25 {
 	float: left;
 	width: 25%;
 	margin-top: 6px;
}
.col_35 {
	float: left;
 	width: 150px;
}
.col_75 {
  	float: left;
  	width: 75%;
  	margin-top: 6px;
}
.col_100 {
	width: 100%;
 	margin-top: 6px;
}
.form_row:after {
  	display: table;
  	content: "";
  	clear: both;
}
#form_message {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	resize: none;
}
#submit_btn {
  	border: 2px solid white;
  	font-size: 0.9em;
  	font-weight: bold;
}
#submit_btn:active {
  	color: black;
  	border: 2px solid black;
}
/* form */

/* services */
.services_container {
  	display: flex;
  	flex-flow: row wrap;
}
.services {
  	background-color: #92c2d8;
  	background-image: url("images/services.png");
  	background-position: -225px -50px;
  	background-repeat: no-repeat;
  	display: inline;
  	width: 40%;
  	height: 75px;
  	margin: 0px auto 30px;
  	padding: 20px;
  	text-align: center;
  	border-radius: 15px;
  	font-size: 1.2em;
  	font-weight: 600;
  	text-shadow: 1px 1px lightgrey;
}
/* services */

/* about */
.about_text {
  	margin: 0% 5% 0% 5%;
}
.about_img {
  	display: block;
  	width: 700px;
  	margin: 30px auto;
}
/* about */

.footer {
  	background-image: linear-gradient(to right, #067ccc, #00111f);
  	color: white;
  	padding: 10px 0px;
	text-align: center;
	font-size: 0.7em;
	font-weight: bold;
	text-shadow: 1px 1px black;
}

/* responsive */
@media screen and (max-width: 900px) {
	#logo {
    	top: 15px;
    	left: 15px;
    	width: 100px;
  	}
  	#header {
    	padding-top: 40px;
		padding-left: 115px;
		font-size: 22px;
	}
	#header_2 {
		padding-left: 115px;
		font-size: 15px;
	}
	.topnav a {
    	display: none;
	}
  	.topnav a:hover {
    	text-decoration: underline;
  	}
  	.topnav a.icon {
    	display: block;
		float: right;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
    	color: white;
		position: absolute;
		right: 0;
    	top: 0;
	}
  	.topnav.responsive a {
    	color: #333;
    	display: block;
    	float: none;
		text-align: right;
  	}
  	@keyframes showMenu {
    	0%   {background-color:transparent; right:500px;}
    	100% {background-color:#333; right:0px;}
  	}
  	@keyframes showLinks {
    	0%   {color:transparent; left:100px; }
    	100% {color:white; left:0px;}
  	}
  	.animate {
    	animation-name: showMenu;
    	animation-duration: 0.5s;
  	}
  	.animate_links {
    	position: relative;
    	animation-name: showLinks;
    	animation-duration: 1s;
    	animation-fill-mode: forwards;
  	}
  	@keyframes hideLinks {
    	0% {color:white; left:0px;}  
    	100%   {color:transparent; left:100px; }
  	}
  	.animate_links_r {
    	position: relative;
    	animation-name: hideLinks;
    	animation-duration: 0.5s;
  	}
  	.img_text {
  		width: 350px;
  		position: absolute;
  		margin-top: 33%;
  		margin-left: 2%;
  		padding: 7px;
  		color: white;
  		font-size: 17px;
  		background-color: rgba(0,12,31,0.9);
  		border-radius: 10px;
  	}
  	.img_text_2 {
  		width: 350px;
  		position: absolute;
  		margin-top: 48%;
  		margin-left: 2%;
  		padding: 7px;
  		color: black;
  		font-size: 17px;
  		background-color: rgba(246,167,22,0.9);
  		border-radius: 10px;
  	}
  	.mySlides {
  		width: 100%;
	}
	.container {
		width: 90%;
    	padding: 15px;
	}
	.dot {
		height: 10px;
		width: 10px;
	}
	.testimonial_text {
		width: 90%;
	}
  	.col_25 {
    	width: 100%;
    	margin: 0px;
    	text-align: left;
  	}
  	.col_75 {
    	width: 100%;
    	margin: 0px 0px 15px 0px;
  	}
  	.col_100 {
    	width: 100%;
    	margin: 0px;
    	text-align: left;
  	}
  	.services_container {
    	flex-direction: column;
  	}
  	.services {
    	width: 70%;
  	}
  	.about_img {
    	width: 70%;
  	}
}
/* responsive */



/*------------ Copyright © Ali Abedi [May 2020] ----------*/